<!DOCTYPE html>
<html>
<head>
    <title>{{ app_name }}</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.css">
    {{ css('redirect_style') }}
    {{ css('redirect_style') }}

</head>
<body>
<div class="ui container" style="margin-top: 30px;">
    <div class="ui middle aligned center grid">
        <div class="column">
            <div class="landing">
                <div class="landing-logo">
                    <img class="landing-logo-image" src="{{ logo_url }}" alt="">
                </div>
                <div class="landing-text">
                Plato: Games, Chat & Friends
                </div>
                <div class="landing-store-logo">
                    <a href="{{ default_redirect_url }}" class="store-badge"><img class="store-logo-ios" src="/app-store-badge.svg" alt=""> </a>
                    <a href="{{ default_redirect_url }}" class="store-badge-2"><img class="store-logo-android" src="/google-play-badge.png" alt=""> </a>
                </div>
            </div>
            <div hidden id="noredirect">
                <div class="ui red message">No redirection cookie is present.</div>
                <div class="ui orange message">You can now Attach this link to Snap.</div>
                <button id="remove-noredirect" class="ui fluid button large orange">Remove no redirect cookie</button>
            </div>
        </div>
    </div>
</div>

    

<script>
    let redirect_url = "{{ redirect_url }}"
</script>
{{ script('redirect') }}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js"></script>
</body>
</html>