.landing
{
	text-align: center;
	margin-top: 24%;
}

.landing-logo {
  	margin-bottom: 80px;
  	margin-top: 50%;
}
.landing-logo-image
{
	height: 300px;

}
.store-logo-ios,.store-logo-android
{
	width: 275px;
	vertical-align: middle;
}
.store-badge
{
	display: inline-block;
    border: 0;
    margin-right: 1em;
    margin-bottom: 1em;
}
.store-badge-2
{
	display: inline-block;
    border: 0;
    margin-left: 1em;
    margin-bottom: 1em;
}
.landing-text
{
	font-family: 'Open Sans', sans-serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 130px;
}
.landing-store-logo
{
	margin-bottom: 80px;
}